li {
  list-style: none;
}

footer {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}

.card-main {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
}

.card-forecast {
  margin-top: 25px;
}
.current-temp {
  font-size: smaller;
}
.current-location-description {
  font-size: 15px;
  text-align: left;
}

.current-weather-row {
  padding-top: 25px;
}
.forecast-card {
  background: rgba(255, 255, 255, 40%);
}

.forecast-row {
  text-align: center;
}

.forecast-col {
  margin-left: 15px;
}

.forecast-day {
  font-size: 20px;
}

.forecast-temp {
  font-size: 12px;
}

a {
  text-decoration: none;
}

.active,
.active:hover {
  color: #212529;
  cursor: default;
}

.day-hot {
  background-image: linear-gradient(135deg, #f5f7fa, #f4a582);
}
.day-warm {
  background-image: linear-gradient(135deg, #f5f7fa, #fddbc7);
}
.day-cold {
  background-image: linear-gradient(135deg, #f5f7fa, #d1e5f0);
}
.day-freezing {
  background-image: linear-gradient(135deg, #f5f7fa, #92c5df);
}

.night-hot {
  background-image: linear-gradient(135deg, #b2172b, #2c2c2c);
}
.night-warm {
  background-image: linear-gradient(135deg, #d6604d, #2c2c2c);
}
.night-cold {
  background-image: linear-gradient(135deg, #2166ac, #2c2c2c);
}
.night-freezing {
  background-image: linear-gradient(135deg, #053061, #2c2c2c);
}
