li {
  list-style: none;
}

footer {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}

.card {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.current-temp {
  font-size: smaller;
}
.current-location-description {
  font-size: 15px;
  text-align: left;
}

.current-weather-row {
  padding-top: 25px;
}

.search-row {
  padding-right: 0;
}

.forcast-emoji {
  font-size: 50px;
}
.forecast-temp {
  font-size: 14px;
}
